/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /*Цвет hover-эффекта*/
  --button-hover:rgba(50, 49, 45, 0.40);
  /*Цвет h1*/
  --header-color:  #FFC2E6;
  /*Цвет h2*/
  --section-color:  #353430;
  /*Цвет параграфа под h1*/
  --list-color:#353430;
  --list-background:#FF8DCB;
  /*Цвет текста под параграфом*/
  --text-color: #353430;
  /*bg страницы*/
  --bg-color: #FFF1F7;
}

/* Скрытие эллипса и подписи REC для светлой темы */
.theme_light .decorated-zone::before,
.theme_light .first-square::before {
  display: none;
}

/* Скрытие изображения header и добавление фона для светлой темы */
.theme_light .header {
  background-image: none;
  background-color: #FFF1F7;
}
