/*Десктоп*/
.page {
  background-color: var(--bg-color);
}

.header {
  background-color: var(--bg-color, #000028);
  padding: 20px;
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 768px;
  min-width: 375px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid var(--section-color, #ff0070);
  z-index: 1;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-right: none;
  border-top:none;
}

/*Эллипс в header*/
.header__theme-menu-list::before{
  content: "";
  position: absolute;
  top: 28px;
  right: 29px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--list-background, #ff0070);
  fill: #ff0070;
  filter: drop-shadow(0px 0px 4px #ff0070);
}

/*Надпись "REC" в header*/
.header__theme-menu-list::after{
  position: absolute; 
  content: "REC"; 
  font-family: var(--text-font); 
  color: var(--section-color, #ff0070); 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 25px;
  top:20px;
  right:48px;
}

/*Выбор темы*/
.header__theme-menu-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 18px;
  color: var(--section-color, #ff0070);
}

.header__theme-menu-button {
  background-color: inherit;
  cursor: pointer;
  padding: 0px 13px;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--section-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--section-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--section-color, #ff0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--section-color, #ff0070);
}

.decorated-zone {
  position: relative;
}

/* текст перед квадратом */
.header .first-square::before {
  position: absolute;
  content: "REC";
  right: calc(100% + 3px);
  top: 0;
  font-family: var(--text-font);
  color: var(--section-color, #ff0070);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

/*h1*/
.main-title {
  word-wrap: break-word;
  font-family: var(--section-font);
  color: var(--header-color, #db00ff);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  text-shadow:var(--header-shadow);
  margin: auto;
  margin-left: -20px;
  margin-top: clamp(9.063rem, 37.109vw - 8.75rem, 15rem);
}

/*Позиционка описания страницы*/
.header-paragraph {
  width: clamp(22.75rem, 49.609vw - 1.063rem, 30.688rem);
  margin-bottom: 115px; /*десктоп*/
  margin-left: auto;
}

/*Стилизация секции*/
.group {
  background-color: var(--bg-color, #000028);
  padding: 60px 20px 20px 20px;
}

/*Позиционка контента*/
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Стилизованная секция для текста с фоном*/
.stylized-section {
  background-color: var(--list-background, #ff0070);
  color: var(--list-color, #000028);
  font-family: var(--section-font);
  font-weight: 700;
  font-size: 18px;
  text-wrap: wrap;
  line-height: 23.4px;
}

/*Для третьей контентной секции*/
h4.stylized-section{
  font-family: var(--text-font);
  font-weight: 400;
}

.pre-section{
  display: flex;
  flex-direction: column;
  gap:20px;
}

/*h2*/
.section-title {
  color: var(--section-color, #ff0070);
  font-family: var(--section-font);
  font-weight: 700;
  font-size: 18px;
  flex-shrink: 0; /* Предотвратить сжатие элемента */
}

/*Текст под секцией*/
.section-text {
  color: var(--text-color, #f1b2ce);
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

/*Расположения блоков контента*/
.section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Расположение заголовка и контента*/
.section-list_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/*Ссылки в тексте*/
.link {
  cursor: pointer;
  text-shadow: var(--link-shadow);
  text-decoration: none;
}

.link:hover {
  outline: none;
  border-bottom: 1px solid var(--text-color, #ff0070);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color, #ff0070);
}

/*Блок фотографий (Телефон, планшет и десктоп в медиазапросе)*/
.photo-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Фотография*/
.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*Подвал*/
.footer {
  background-color: var(--bg-color, #000028);
  height: 100vh;
  min-height: 668px;
  min-width: 375px;
  padding: 20px;

  font-family: var(--section-font);
  color: var(--header-color, #db00ff);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  text-shadow: var(--footer-shadow);
  text-align: center;
  letter-spacing: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

/*Для планшетного/десктопного контента (Если ширина больше 544px)*/
@media screen and (min-width: 592px) {
  .section-title {
    width: clamp(14.75rem, 30.859vw - 0.063rem, 19.688rem);
  }

  /*Если нужно сделать список контента строчным (в колонку по умолчанию)*/
  .row-content {
    flex-direction: row;
    flex: 1;
  }

  .group:last-of-type{
    padding-bottom: 60px;
  }

  /*Грид-сетка*/
  .photo-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    height: clamp(48.75rem, 104.688vw - 1.5rem, 65.5rem);
  }

  img:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  img:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  img:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  img:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  img:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}

/*Планшет*/
@media screen and (max-width: 768px) {
  .header {
    min-height: 1024px;
  }

  .header-paragraph{
    width: clamp(22.188rem, 2.29vw + 21.651rem, 22.75rem);
    margin-bottom: 163px;
  }

  .header__theme-menu{
    margin-left: auto;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: clamp(4.063rem, 27.226vw - 2.319rem, 10.75rem);
  }

  .title {
    top: 448px;
    word-spacing: 70px;
  }

  .section-list{
    flex-direction: column;
  }

  .footer {
    min-height: 1024px;
    padding-bottom: 20px;
  }
}

/*Телефон*/
@media screen and (max-width: 395px) {
  .header {
    padding: 10px;
    min-height: 668px;
  }

  .main-title {
    font-size: 116px;
    line-height: 82.5%;
    margin-left: 0px;
    margin-top: 67px;
  }

  .header-paragraph{
    margin-bottom: 55px;
  }

  /*Эллипс*/
  .header__theme-menu-list::before{
    top:19px;
    right: 18px;
  }

  /*"REC"*/
  .header__theme-menu-list::after{
    top:10px;
    right:38px;
  }

  /*Правый уголок*/
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  /*Левый уголок*/
  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .group {
    padding: 10px 10px 40px 10px;
  }

  /*Отступ от шапки*/
  .group:first-of-type {
    padding-top: 40px;
  }

  .group:has(.photo-block) {
    gap: 10px; /* значение, которое хотите применить, если есть .photo-block */
  }

  .footer {
    font-size: 116px;
    min-height: 668px;
  }
}
